{% extends "Dashboard/dashboard_layout.html" %}

{% load static %}

{% block content %}
<section class="p-3 md:p-6 rounded-md" data-theme="light">

  <div class="flex flex-col md:flex-row justify-between gap-2 mb-14">
    <h2 class="text-2xl font-bold">Students</h2>
    <div class="flex flex-col md:flex-row items-center gap-2">
      <label class="input input-bordered flex items-center gap-2 rounded-md w-full">
          <input type="text" class="grow" placeholder="Search" />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70">
            <path
              fill-rule="evenodd"
              d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
              clip-rule="evenodd" />
          </svg>
        </label>
        <a href="{% url "Students:add_student" %}" class="btn bg-[#2D88D4] text-white rounded-md">Add Student</a>
    </div>
  </div>
  
    <div class="overflow-x-auto">
        <table class="table table-zebra">
          <!-- head -->
          <thead>
            <tr>
              <th>
                ID
              </th>
              <th>Name</th>
              <th>Email Address</th>
              <th>Phone Number</th>
              <th>Gender</th>
              <th>DOB</th>
              <th>Action</th>
              
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
            <tr>
                <th>
                  {{ student.id }}
                </th>
                <td>
                  <div class="flex items-center gap-3">
                    <div class="avatar">
                      <div class="mask mask-squircle h-12 w-12">
                        {% if student.photo %}
                            <img src="{{ student.photo.url }}" alt="{{ student.name }}" />
                        {% else %}
                            <img src="{% static 'Students/images/avatar-of-a-student-character-free-vector.jpg' %}" alt="Default Avatar" />
                        {% endif %}

                      </div>
                    </div>
                    <div>
                      <div class="font-bold">{{ student.name }}</div>
                      <div class="text-sm opacity-50">{{ student.address }}</div>
                    </div>
                  </div>
                </td>
                <td>{{ student.email_address }}</td>
                <td>
                  {{ student.phone_number }}
                </td>
                <td>
                    {{ student.gender}}
                </td>
                <td>
                    {{ student.date_of_birth }}
                </td>
                <td>
                  <div class="flex gap-2 items-center">
                    <a href="{% url "Students:edit_student" pk=student.id %}" class="btn btn-neutral rounded-md"><i class="fa-regular fa-pen-to-square"></i> Update</a>
                    <a href="{% url "Students:delete_student" pk=student.id %}" class="btn btn-error text-white rounded-md"><i class="fa-solid fa-trash"></i> Delete</a>
                    <a href="{% url "Students:student_details" pk=student.id %}" class="btn btn-active btn-link">Details</a>
                  </div>
                </td>
              </tr>
            {% endfor %}
       
          </tbody>
        </table>
    </div>
</section>
{% endblock %}