{% extends "Dashboard/dashboard_layout.html" %}

{% load crispy_forms_tags %}

{% block content %}
<section class="p-3 md:p-6 rounded-md" data-theme="light">
    <h2 class="text-2xl font-semibold mb-5">{{ title }}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <a href="{% url "Courses:all_courses" %}"  class="btn btn-active">Cancel</a>
        <button class="btn bg-[#2D88D4] text-white rounded-md" type="submit">{{ title }}</button>
    </form>
</section>
{% endblock %}